<nav style="background-color:#383838" class="navbar navbar-expand-lg " id="navbar">
  <a class="navbar-brand" href="#">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link" href="/home">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/listDemands">L'état de l'équipe </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/profil">Profil</a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <a class="nav-link" ng-click="logout()" href="#">
        <button class="btn btn-secondary" type="button">
          Logout
        </button>
      </a>
    </ul>
  </div>
</nav>
