<div>
  <div class="row col-md-12">
    <h2>Liste des utilisateurs</h2>
    <div class="offset-md-6" id="editMsg">
      <div class="alert alert-success alert-dismissible">
        <strong>Modification réussie</strong>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead class="table-primary">
      <tr>
        <th scope="col" ng-repeat ="col in cols">{{col.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows">
        <td ng-repeat="col in cols">
          <span ng-if="col.title !== 'Edit'">
            {{row[col.field]}}
          </span>
          <span ng-if="col.title === 'Editer'">
            <editor-initializer></editor-initializer>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="..." ng-if="pagesUsers.length>1">
    <ul class="pagination pagination-sm ">
      <li class="page-item " ng-class="{active : ActivePageUser===page}" ng-repeat="page in pagesUsers">
        <a class="page-link " ng-click="reloadUserPage(page)" href="#">{{page}}</a>
      </li>
    </ul>
  </nav>
</div>
