<entete ng-if="user!=null" ></entete>
  <br/><br/>
  <div class="container">
   <div class="row listeDemandeDiv">
     <div class="col-md-12">
       <h5> L'état de toute l'équipe </h5>
     </div>
     <hr>
     <div class="col-md-12">
       <table class="table table-hover ">
         <thead class="table-primary" >
           <tr>
             <th scope="col">Nom Employé</th>
             <th scope="col"><a ng-click="set('date_debut')" >Date début  </a></th>
             <th scope="col"><a ng-click="set('date_fin')" > Date fin </a></th>
             <th scope="col"><a ng-click="set('motifAb')" > Motif d’absence </a></th>
             <th scope="col"><a ng-click="set('etat')" > Etat </a></th>
           </tr>
         </thead>
         <tbody class="" ng-controller="homeUserCtrl">
           <tr ng-repeat="conge in conges |orderBy:orderByField:reverseSort" >
             <td>{{conge.user_id}}</td>
             <td>{{conge.date_debut}} </td>
             <td>{{conge.date_fin}}</td>
             <td>{{conge.motifAb}}</td>
             <td>{{conge.etat}}</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
   <hr>
  </div>
