<entete ng-if="user!=null" ></entete>
  <br/><br/>
  <div class="container">
   <div class="row listeDemandeDiv">
     <div class="col-md-12">
       <h5> L'état de toute l'équipe </h5>
     </div>
     <hr>
     <div class="col-md-12">
       <table class="table table-hover ">
         <thead class="table-primary">
           <tr>
             <th scope="col">Salarié</th>
             <th scope="col">Date début</th>
             <th scope="col">Date fin</th>
             <th scope="col">Motif d’absence</th>
             <th scope="col">Action</th>
           </tr>
         </thead>
         <tbody class="">
           <tr data-toggle="modal" ng-repeat="demandeT in demandesT" ng-click="getModelInfo(demandeT.id)">
             <td>{{demandeT.user.nom}} {{demandeT.user.prenom}} </td>
             <td>{{demandeT.date_debut}}</td>
             <td>{{demandeT.date_fin}}</td>
             <td>{{demandeT.motifAb}}</td>
             <td>{{demandeT.etat}}</td>
           </tr>
         </tbody>
        </table>
     </div>
   </div>
   <hr>
  </div>
