<tr ng-show="editorState">
  <td colspan="{{cols.length}}">
    <div ng-repeat="col in cols">
      <span ng-if="col.title !== 'Editer'">
        <form class="col-md-4">
          <div class="form-row">
            <label class="col-form-label px-2">{{col.field}} : </label>
            <input type="text" ng-model="row[col.field]" class="form-control">
          </div>
        </form>
      </span>
    </div>
    <p></p>
    <button type="button" ng-click="changeState()" class="btn btn-secondary">Annuler</button>
  </td>
</tr>
