<p></p>
<div class="container">
  <h1>S'inscrire</h1>
  <div class="main-login main-center col-md-5 offset-md-3">
    <form class="form-horizontal" method="post" ng-submit="register()" name="myForm">
      <div class="alert alert-danger" ng-if="showPasswordError" role="alert">
        Veuillez vérifier votre mot de passe !
      </div>
      <div class="alert alert-danger" ng-if="showEmailError" role="alert">
        Un compte existe déjà pour cette adresse mail !
      </div>
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Nom</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" ng-model="user.nom" id="nom" placeholder="Entez votre nom" required autofocus />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Prenom</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" ng-model="user.prenom" id="prenom" placeholder="Entez votre prenom" required />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label">Votre mail</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="email" class="form-control" ng-model="user.email" id="email" placeholder="Entez votre mail" required />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Mot de passe <small>(6 caractére au minimum)</small></label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" class="form-control" ng-model="user.password" id="password" placeholder="Entez votre mot de passe" required />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm" class="cols-sm-2 control-label">confirmez mot de passe</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" class="form-control" ng-model="passwordConfirm" id="confirm" placeholder="Confirmez votre mot de passe" required />
          </div>
        </div>
      </div>
      <div class="form-group ">
        <button ng-disabled="myForm.$invalid || myForm.$pending" type="submit" class="btn btn-primary btn-lg btn-block login-button">S'inscrire</button>
      </div>
      <div class="login-register">
        <a href="/login">Se connecter ?</a>
      </div>
    </form>
  </div>
</div>
</div>
