<!DOCTYPE html>
<html >
  <head>
    <title>TestApp</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    
  </head>
<<<<<<< HEAD
  <body  ng-app="app">
=======
  <body  ng-app="app" ng-controller="authCtrl" >
>>>>>>> FEATURE-user-page
      <ng-view></ng-view>
  </body>
</html>
